.h1 {
    background-color:#525151;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 55px;
    font-style: italic;
    border: 2px solid #D53400;
}
.content {
    padding: 16px;
}
.div.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.div.sticky + content {
    padding-top: 102px;
}