header {
    position: fixed;
    background-color: #525151;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #D53400;
}

h1 {
    background-color: #525151;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 80px;
    font-style: italic;
    position: sticky;
}

h2 {
    font-size: xx-large;
    color: white;
    background-color: #525151;
    font-family: italic;
    border: 2px solid #D53400;
    text-align: center;
    font-weight: 800;
    margin-top: 300px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    padding: auto;
}

h3 {
    font-size: xx-large;
    color: white;
    background-color: #525151;
    font-family: italic;
    border: 2px solid #D53400;
    text-align: center;
    font-weight: 800;
    margin-top: 500px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    padding: auto;
}

h4 {
    font-size: xx-large;
    color: white;
    background-color: #525151;
    font-family: italic;
    border: 2px solid #D53400;
    text-align: center;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    padding: auto;
}

h5 {
    font-size: xx-large;
    color: white;
    background-color: #525151;
    font-family: italic;
    border: 2px solid #D53400;
    text-align: center;
    font-weight: 800;
    margin-top: 500px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    padding: auto;
}

p {
    font-family: sans-serif;
    font-size: large;
    text-align: center;
    border-style: solid;
    margin-left: 300px;
    margin-right: 300px;
    border-color: #D53400;
    padding: 20px;
    
}